@import "../universal/color";
@import "../universal/font";

* {
  margin: 0;
  padding: 0;
}

.bodyContent {
  width: 100%;
  height: 100vh;
  display: flex;

  .sideContent {
    background-color: $primary-blue;
    color: $pure-white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 18%;
    transition: width 0.3s; // Add transition for smooth collapse/expand
    .user {
      height: 25vh;
      display: flex;
      justify-content: center;
      border-radius: 0px 0px 5px 5px;
      flex-direction: column;
      align-items: center;
      border: 1ps solid white;
      h1 {
        color: $pure-white;
        @include poppins($poppins, 400, 1.8vw);
      }
    }
    ul {
      @include flex-col;
      padding: 1vh 2.5vw;
      margin-top: 5vh;

      li,
      .dropdown-btn {
        list-style: none;
        font-size: 1.8vw;
        width: 100%;
        height: 8vh;
        display: flex;
        align-items: center;
        //todo

        a {
          text-decoration: none;
          color: $pure-white;
          letter-spacing: 2px;
          @include poppins($poppins, 400, 1.4vw);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
        }

        a:hover {
          // color: grey;
          background: rgba(1, 1, 1, 0.28);

          text-decoration: underline;
        }
        a:active {
          color: $pure-white;
          text-decoration: dashed;
        }
      }
      li:hover {
        background: rgba(1, 1, 1, 0.28);
      }
    }
  }
  //! main body content section  >>
  .mainContent {
    background-color: #fdfffc;
    width: 82%;
    display: grid;
    // grid-template-columns: auto auto;
    gap: 5vh;
    align-content: start;
    position: absolute;
    top: 0;
    left: 18%;
    transition: left 0.3s, width 0.3s; // Add transition for smooth collapse/expand
  }

  //!main body contenet section ends...................................
}